{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <fieldset class="large-12 columns">

            {{ form_start(form) }}
            <table>
                <tbody>
                    <tr>
                        <td>
                            {{ form_widget(form.start, { 'label': 'Start' }) }}
                        </td>
                        <td>
                            {{ form_widget(form.stop, { 'label': 'Stop' }) }}
                        </td>
                        <td>
                            {{ form_widget(form.restart, { 'label': 'Restart' }) }}
                        </td>
                    </tr>
                </tbody>
            </table>

            {{ form_end(form) }}
        </fieldset>
    </div>
{% endblock %}