{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <fieldset class="large-12 columns">
                {{ form_start(form) }}
                {# evaluates to true if the foo variable is iterable #}
                {% if view is iterable %}
                    {% for key, item in view %}

                        {% if "_comment" not in key %}
                            {% if item is iterable %}
                                {% if "tag" not in key %}
                                <h5>{{ key }}</h5>
                                {% for subkey, subitem in item %}
                                        <label for="{{ key }}">{{ subkey|trans() }}
                                            <input type="text" id="{{ subkey }}" name="form[{{ key }}][{{ subkey }}]" value="{{ subitem }}" />
                                        </label>
                                {% endfor %}
                                {% else %}
                                    <label for="{{ key }}">{{ key|trans() }}
                                        <input type="text" id="{{ key }}" name="form[{{ key }}]" value="{{ item|join(',') }}" />
                                    </label>
                                {% endif %}
                            {% else %}
                                {% if "_token" not in key %}
                                    <label for="{{ key }}">{{ key|trans() }}
                                        <input type="text" id="{{ key }}" name="form[{{ key }}]" value="{{ item }}" />
                                    </label>
                                {% else %}
                                        <input type="hidden"  id="{{ key }}" name="form[{{ key }}]" value="{{ item }}" />
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if item is iterable %}
                                <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ item|join(" // ") }}">Help</span>
                            {% else %}
                                <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ item }}">Help</span>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                {% else %}
                    {# users is probably a string #}
                    NO
                {% endif %}
                <button type="submit" class="success button">Save</button>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>

{% endblock %}




